.user-details{
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}
.user-name ,.user-loose, .user-won{
    padding: 8px;
    font-size: 20px;
    margin-bottom: 2rem;
    /* text-align: center; */
    font-family: fantasy;
}
.user-won span{
    color: #0D9276;
}

.user-loose span{
    color: #FA1E0E;
}